.liste-virgules:not(:last-of-type)::after {
  content: ", ";
}

.btn-group .btn {
  transition: .2s;
}

.minifenetres .card-header {
  height: 3em;
}
.minifenetres .card-block {
  height: 500px;
}

.highlighted-row {
  background-color: #eeeeee;
}

.badge-indice {
  margin-right: 3px;
  border-radius: 20px;
  display: inline-block;
  width: 10px;
  height: 10px;
}

.tableau-historique .valeur-prevision {
    background-color: #D4D4E3;
}
