<!DOCTYPE html>
<html lang="fr" ng-app="vuvizApp" ng-controller="VuvizController">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css">
    <link rel="stylesheet" href="vuviz.css">

    <title ng-bind-template="{{nomApplication}}">PRÉFIB</title>
  </head>
  <body class="container-fluid">

    <nav class="navbar navbar-dark bg-inverse">
      <a class="navbar-brand" href="#">{{nomApplication}}</a>
    </nav>

    <aside class="container m-y">
      <!-- Butons de choix de la durée des prévisions -->
      <div class="row">
        <div class="col-sm-6">
              <label class="btn btn-primary btn-lg btn-block"><input type="radio" name="typePrev" value="an">Prévision annuelle</label>
        </div>
        <div class="col-sm-6">
              <label class="btn btn-primary btn-lg btn-block"><input type="radio" name="typePrev" value="tri">Prévision trimestrielle</label>
        </div>
      </div>
      <!-- Choix des indices à visualiser-->
      <div class="row m-y">
        <form>
          <fieldset class="col-md-12 col-lg-4">
            <div class="btn-group">
              <label class="btn btn-primary btn-lg"
                  ng-repeat="continent in liste_continents"
                  ng-class="{active:filtre.continent===continent}">
                <input type="radio" hidden name="choixContinent"
                       ng-model="filtre.continent"
                       value="{{continent}}">
                {{continent}}
              </label>
            </div>
          </fieldset>

          <fieldset class="col-md-12 col-lg-4">
            <div class="radio">
              <label>
                <input type="radio" name="typeIndice" value="false" ng-value="false" ng-model="filtre.sectoriel">
                Indices globaux
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="typeIndice" value="true" ng-value="true" ng-model="filtre.sectoriel">
                Indices sectoriels
              </label>
            </div>
          </fieldset>

          <fieldset class="col-md-12 col-lg-4">
            <div class="checkbox-inline" ng-repeat="indice in indices | filter:filtre">
              <label>
                <input type="checkbox" name="indice.nom" value="{{indice.nom}}" ng-model="indice.selected">
                {{indice.nom}}
              </label>
            </div>
          </fieldset>

        </form>
      </div>
    </aside>

    <main class="container-fluid minifenetres">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <div class="card">
          <h4 class="card-header">
			Graphique décrivant l'évolution des indices
		   <small ng-repeat="i in indices | filter:selected" class="liste-virgules">{{i.nom}}</small>
		  </h4>
			<select><option value="1J">1J</option><option value="5J">5J</option><option value="1M">1M</option><option value="3M">3M</option><option value="6M">6M</option><option value="1A">1A</option></select>
            <nvd3 class="card-block"
                    options="graph1.options"
                    data="indices | filter:selected | valeursIndices"></nvd3>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card">
          <h4 class="card-header">
            Évolution des indices
            <small ng-repeat="i in indices | filter:selected" class="liste-virgules">{{i.nom}}</small>
          </h4>
			<select><option value="1J">1J</option><option value="5J">5J</option><option value="1M">1M</option><option value="3M">3M</option><option value="6M">6M</option><option value="1A">1A</option></select>
		  
			<nvd3 class="card-block"
                    options="graph2.options"
                    data="indices | filter:selected | valeursIndices2"></nvd3>

          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card">
          <h4 class="card-header">Cours actuel des indices
		   <small ng-repeat="i in indices | filter:selected" class="liste-virgules">{{i.nom}}</small>
		  </h4>
            <div class="card-block">
              <div class="list-group">
                <span href="#" class="list-group-item">
                  <h4 class="list-group-item-heading">Dow Jones Industrial Average</h4>
                  <h5 class="list-group-item-text">
                      <strong class="h4">17 623,05</strong>
                      <span class="label label-danger">23,65 (0,13%)</span>
                  </h5>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6">
          <div class="card">
          <h4 class="card-header">Tableau synthétisant l'évolution des indices moyens
		          <small ng-repeat="i in indices | filter:selected" class="liste-virgules">{{i.nom}}</small>
		      </h4>
          <div class="card-block table-responsive">
    				  <table width="100%" class="table table-bordered table-hover">
      					<thead>
      						<tr>
      						<th>Indice</th><th ng-repeat="ligne in tableau | unique: 'annee'"> {{ligne.annee}}</th>
      						</tr>
      					</thead>
      					<tbody  ng-repeat="indice in indices | filter:selected">
      						<tr style="background-color:{{indice.color}};" >
        						<th scope="row">{{indice.nom}}</th>
        						<td ng-repeat="anneeObj in tableau | unique: 'annee'">
								  {{trouveValeurIndice(indice.nom, anneeObj.annee) | formatNum}}
								</td>
								
      						</tr>
							<tr  >
        						<th scope="row">%</th>
        						<td ng-repeat="anneeObj in tableau | unique: 'annee'">
								  {{trouveValeurIndice(indice.nom, anneeObj.annee) | formatNum}}
								</td>
								
      						</tr>
      					</tbody>
    				   </table>
			       </div>
          </div>
        </div>
      </div>
</main>

<aside class="container">
<div class="row">
  <div class="card">
  <h4 class="card-header">
       Commentaire sur l'historique et l'évolution prévisionnelle:
      <small ng-repeat="i in indices | filter:selected" class="liste-virgules">{{i.nom}}</small>
  </h4>

    <div class="card-block">
      <div class="row">
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item">
               <span class="label label-danger label-pill">↘</span>
              La Russie déclare la guerre à la Turquie</li>
            <li class="list-group-item">
              <span class="label label-danger label-pill">↘</span>
              Grand moratoire sur la vente de carottes râpées</li>
          </ul>
        </div>
        <div class="col-md-6">
          <ul class="list-group">
            <li class="list-group-item">
              <span class="label label-warning label-pill">→</span>
              AirFrance rachètera Bonduelle</li>
            <li class="list-group-item">
              <span class="label label-success label-pill">↗</span>
              Total achètera une petite éolienne en Picardie</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
</main>

    <!-- jQuery first, then Bootstrap JS. -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/nvd3/build/nv.d3.js"></script>
    <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
    <script src="vuviz.js"></script>
  </body>
</html>
