.liste-virgules:not(:last-of-type)::after {
  content: ", ";
}

.btn-group .btn {
  transition: .2s;
}

.minifenetres .card-header {
  height: 3em;
}
.minifenetres .card-block {
  height: 500px;
}

.highlighted-row {
  background-color: #eeeeee;
}
