<!DOCTYPE html>
<html lang="fr" ng-app="vuvizApp" ng-controller="IndicesController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css">
  <link rel="stylesheet" href="indices.css">

  <title>PRÉFIB - administration</title>
</head>
<body class="container-fluid">

  <main class="container-fluid minifenetres">
    <h3>Liste des indices <small>{{status}}</small></h3>
    <div ng-repeat="indice in indices track by indice.id"
        ng-class="{'card':true, 'indice-disabled':indice.disabled}">
      <div class="card-block">
        <form class="form-inline">
          <input type="color" class="form-control couleur-indice"
                ng-disabled="indice.disabled"
                ng-model="indice.couleur">
          <input type="text" class="form-control"
                  placeholder="nom de l'indice"
                  ng-disabled="indice.disabled"
                  ng-model="indice.nom">
          <select class="form-control"
                  ng-options="cont for cont in continents"
                  ng-disabled="indice.disabled"
                  ng-model="indice.continent"></select>
          <label>Indice sectoriel ?<input type="checkbox" ng-model="indice.sectoriel"></label>
          <button type="button" class="btn btn-success form-control"
                  ng-disabled="indice.disabled"
                  ng-click="postIndice(indice)">Mettre à jour</button>
          <button type="button" class="btn btn-danger form-control"
                  ng-disabled="indice.disabled"
                  ng-click="supprIndice(indice)">Supprimer</button>
        </form>
      </div>
    </div>
  </main>

  <!-- jQuery first, then Bootstrap JS. -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="indices.js"></script>
</body>
</html>
