<main>

  <div class="row">
    <div class="col-sm-6" ng-repeat="duree in durees_possibles">
      <label class="btn btn-primary btn-lg btn-block">
        <input type="radio"
               name="duree_prevision"
               ng-model="$parent.duree_prevision"
               ng-value="duree">
        Prévision {{duree}}
      </label>
    </div>
  </div>

    <h3>Liste des indices
      <small class="label label-pill"
              ng-class="{'label-success':status==='✓', 'label-warning':status==='…', 'label-error':status==='⚠'}">
              {{status}}
      </small>
    </h3>

    <div class="card">
      <div class="card-block">
        <form class="form">
          <input type="search" class="form-control" id="recherche"
                 placeholder="Filtrer les indices par nom ou continent"
                 ng-model="recherche">
        </form>
      </div>
    </div>

    <div ng-repeat="indice in indices.liste|cherche:recherche track by indice.d.id"
        ng-class="{'card':true, 'indice-disabled':indice.disabled, 'card-inverse':indice.suppression, 'card-danger':indice.suppression}">
      <h3 class="card-header" ng-if="indice.nouveau">Créer un nouvel indice</h3>
      <div class="card-block">
        <h4 class="card-title">{{indice.d.nom}}</h4>
        <form class="form-inline" ng-submit="indice.post()">
          <input type="color" class="form-control couleur-indice"
                ng-disabled="indice.disabled"
                ng-model="indice.d.couleur"
                title="Couleur associée à l'indice">
          <input type="text" class="form-control"
                  placeholder="nom de l'indice"
                  required="true"
                  ng-disabled="indice.disabled"
                  ng-model="indice.d.nom"
                  title="Nom de l'indice (ne peut pas être vide)">
          <select class="form-control"
                  ng-options="cont for cont in indices.continents"
                  ng-disabled="indice.disabled"
                  ng-model="indice.d.continent"
                  title="Continent">
          </select>
          <label title="Indice global ou sectoriel">Indice sectoriel ?
            <input type="checkbox" ng-model="indice.d.sectoriel"
                   title="Cocher si l'indice est sectoriel">
          </label>
          <input type="submit"
                  ng-class="{'btn':1, 'btn-warning':!indice.nouveau, 'btn-primary':indice.nouveau, 'form-control':1}"
                  ng-disabled="indice.disabled"
                  ng-value="indice.nouveau ? 'Créer' : 'Mettre à jour'"
                  title="Enregistrer les valeurs dans la base de données">
          </input>
          <button type="button" class="btn btn-danger form-control"
                  ng-disabled="indice.disabled"
                  ng-if="!indice.nouveau"
                  ng-blur="indice.suppression = false"
                  ng-click="indice.clic_supprimer()"
                  title="Supprimer définitivement cet indice">
                  {{indice.suppression ? "Confirmer la suppression" : "Supprimer"}}
          </button>
        </form>
        <form class="form-inline" ng-if="!indice.nouveau">
          <h5 class="card-title">Valeurs {{duree_prevision}}s</h5>
          <table class="table table-sm" ng-if="indice.valeurs.length > 0">
            <thead>
              <tr><th ng-repeat="c in Valeur.champs">{{c.desc}}</th></tr>
            </thead>
            <tbody>
              <tr ng-repeat="val in indice.valeurs"
                  ng-class="{'table-active':val.d.periode[3]%2}">
                <td>
                  <input  type="text"
                          class="form-control"
                          ng-model="val.d.periode"
                          ng-blur="val.format()"
                          placeholder="date" />
                 </td>
                 <td>
                   <input  type="number"
                           step="0.01"
                           class="form-control"
                           ng-model="val.d.valeur"
                           ng-blur="val.format()"
                           placeholder="valeur de l'indice" />
                  </td>
                  <td>
                    <select class="form-control"
                            ng-model="val.d.type"
                            ng-options="type for type in ['min', 'moyenne', 'max']"
                            title="Type de valeur" />
                   </td>
                  <td>
                    <input  type="checkbox"
                            class="form-control"
                            ng-model="val.d.prevision"
                            title="Cocher si la valeur n'est pas historique, mais prévisionnelle" />
                   </td>
                </tr>
            </tbody>
          </table>
          <input type="submit"
                  class="form-control btn btn-primary"
                  ng-click="indice.ajout_valeur()"
                  value="Ajouter une valeur" />
          <a class="form-control btn btn-info"
              href="{{indice.url_csv}}"
              download="{{indice.d.nom}}.csv"
              ng-click="indice.creer_csv()"
              title="Exporter les valeurs dans un fichier CSV, pour les afficher et les modifier dans un tableur">
              {{indice.valeurs.length ? "Exporter en CSV" : "Télécharger un fichier CSV à compléter"}}
          </a>
          <label class="file" title="Importer un fichier CSV contenant des valeurs">
            <input type="file" id="file"
                    accept="text/csv"
                    onchange="angular.element(this).scope().indice.import_csv(this.files[0])">
            <span class="file-custom"></span>
          </label>
        </form>
      </div>
    </div>
</main>
