<!DOCTYPE html>
<html lang="fr" ng-app="vuvizApp" ng-controller="IndicesController">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/nvd3/build/nv.d3.css">
  <link rel="stylesheet" href="indices.css">

  <title>PRÉFIB - administration</title>
</head>
<body class="container-fluid">
  <nav class="navbar navbar-dark bg-inverse">
    <a class="navbar-brand" href="#">PRÉFIB - Administration</a>
  </nav>

  <main class="container-fluid minifenetres">
    <h3>Liste des indices
      <small class="label label-pill"
              ng-class="{'label-success':status==='✓', 'label-warning':status==='⥀', 'label-error':status==='⚠'}">
              {{status}}
      </small>
    </h3>

    <div class="card">
      <div class="card-block">
        <form class="form">
          <input type="search" class="form-control" id="recherche"
                 placeholder="Filtrer les indices par nom ou continent"
                 ng-model="recherche">
        </form>
      </div>
    </div>

    <div ng-repeat="indice in indices|cherche:recherche track by indice.id"
        ng-class="{'card':true, 'indice-disabled':indice.disabled, 'card-inverse':indice.suppression, 'card-danger':indice.suppression}">
      <h3 class="card-header" ng-if="indice.nouveau">Créer un nouvel indice</h3>
      <div class="card-block">
        <h4 class="card-title">{{indice.nom}}</h4>
        <form class="form-inline" ng-submit="postIndice(indice)">
          <input type="color" class="form-control couleur-indice"
                ng-disabled="indice.disabled"
                ng-model="indice.couleur"
                title="Couleur associée à l'indice">
          <input type="text" class="form-control"
                  placeholder="nom de l'indice"
                  required="true"
                  ng-disabled="indice.disabled"
                  ng-model="indice.nom"
                  title="Nom de l'indice (ne peut pas être vide)">
          <select class="form-control"
                  ng-options="cont for cont in continents"
                  ng-disabled="indice.disabled"
                  ng-model="indice.continent"
                  title="Continent">
          </select>
          <label title="Indice global ou sectoriel">Indice sectoriel ?
            <input type="checkbox" ng-model="indice.sectoriel"
                   title="Cocher si l'indice est sectoriel">
          </label>
          <input type="submit"
                  ng-class="{'btn':1, 'btn-warning':!indice.nouveau, 'btn-success':indice.nouveau, 'form-control':1}"
                  ng-disabled="indice.disabled"
                  ng-value="indice.nouveau ? 'Créer' : 'Mettre à jour'"
                  title="Enregistrer les valeurs dans la base de données">
          </input>
          <button type="button" class="btn btn-danger form-control"
                  ng-disabled="indice.disabled"
                  ng-if="!indice.nouveau"
                  ng-blur="indice.suppression = false"
                  ng-click="indice.suppression ? supprIndice(indice) : (indice.suppression = true)"
                  title="Supprimer définitivement cet indice">
                  {{indice.suppression ? "Confirmer la suppression" : "Supprimer"}}
          </button>
        </form>
      </div>
    </div>
  </main>

  <!-- jQuery first, then Bootstrap JS. -->
  <script src="../bower_components/angular/angular.js"></script>
  <script src="indices.js"></script>
</body>
</html>
